In [7]:
import pandas as pd

In [8]:
file_path = "../Resources/iris.csv"
iris_df = pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [9]:
# dropping class column since its categorical data and not numeric
new_iris_df = iris_df.drop('class', axis=1)
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [10]:
# reararnging columns
new_iris_df = new_iris_df[['sepal_length', 'petal_length','sepal_width', 'petal_width']]
new_iris_df.head()

   sepal_length  petal_length  sepal_width  petal_width
0           5.1           1.4          3.5          0.2
1           4.9           1.4          3.0          0.2
2           4.7           1.3          3.2          0.2
3           4.6           1.5          3.1          0.2
4           5.0           1.4          3.6          0.2

In [11]:
# output our cleaned data, we don't need an index column in our csv
output_file_path = "../Resources/new_iris_data.csv"
new_iris_df.to_csv(output_file_path, index=False)

In [12]:
# Load a different dataset
file_path = "../Resources/shopping_data.csv"
df_shopping = pd.read_csv(file_path, encoding="ISO-8859-1")
df_shopping.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [13]:
df_shopping.columns

Index([&#39;CustomerID&#39;, &#39;Card Member&#39;, &#39;Age&#39;, &#39;Annual Income&#39;,
       &#39;Spending Score (1-100)&#39;],
      dtype=&#39;object&#39;)

In [14]:
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [15]:
# Find null values
for column in df_shopping.columns:
    print(f"Column {column} has {df_shopping[column].isnull().sum()} null values")

Column CustomerID has 0 null values
Column Card Member has 2 null values
Column Age has 2 null values
Column Annual Income has 0 null values
Column Spending Score (1-100) has 1 null values

In [16]:
# Drop null rows
df_shopping = df_shopping.dropna()

In [17]:
# Check for duplicate rows
print(f"Duplicate entries: {df_shopping.duplicated().sum()}")

Duplicate entries: 0

In [18]:
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [19]:
# Dropping customer id column since its not relevant
df_shopping.drop(columns=["CustomerID"], inplace=True)
df_shopping.head()

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

In [20]:
# Transform yes and no values to 0/1 to be used on card member column
def change_string(member):
    if member == "Yes":
        return 1
    else:
        return 0

df_shopping["Card Member"] = df_shopping["Card Member"].apply(change_string)
df_shopping.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0          15000                    39.0
1            1  21.0          15000                    81.0
2            0  20.0          16000                     6.0
3            0  23.0          16000                    77.0
4            0  31.0          17000                    40.0

In [21]:
# Transform Annual Income so its scales better
df_shopping["Annual Income"] = df_shopping["Annual Income"] / 1000
df_shopping.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0           15.0                    39.0
1            1  21.0           15.0                    81.0
2            0  20.0           16.0                     6.0
3            0  23.0           16.0                    77.0
4            0  31.0           17.0                    40.0

In [22]:
# Reame columns with spaces
df_shopping = df_shopping.rename(columns={"Card Member": "CardMember", "Annual Income": "AnnualIncome", "Spending Score (1-100)": "SpendingScore"})
df_shopping.head()

   CardMember   Age  AnnualIncome  SpendingScore
0           1  19.0          15.0           39.0
1           1  21.0          15.0           81.0
2           0  20.0          16.0            6.0
3           0  23.0          16.0           77.0
4           0  31.0          17.0           40.0

In [23]:
# Save cleaned data to file, don't need a index row
file_path = "shopping_data_cleaned.csv"
df_shopping.to_csv(file_path, index=False)